.section-header {
    .main-title {
      font-size: 64px;
      color: $dark-gray;
      line-height: 130%;
      font-weight: 900;
    }
    .title {
      font-size: 46px;
      color: $dark-gray;
      line-height: 130%;
      font-weight: 900;
    }
  
    .subtitle {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 1em;
      color: $dark-gray;
      line-height: 150%;
      margin-bottom: 10px;
  
    }
    .subtext {
      margin-top: 48px;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $dark-gray;
    }
    .gray-text {
      font-weight: 400;
      font-size: 16px;
      margin-top: 29px;
      line-height: 25.6px;
      color: $basic-gray;
    }
  
  }
  .max-width-390 {
    max-width: 390px;
  }
@media screen and (width < 768px) {
    .section-header {
      .title {
        font-size: 28px;
      }
      .main-title {
        font-size: 42px;
      }
      .subtitle {
        font-size: 0.90em;
      }
    }
}